
.arrow {
    background: #16b485;
    padding:5px;
    height: 40px;
    width: 40px;
    inset: auto 1.5rem 1.5rem auto;
    position: fixed;
    transition: all 0.3s ease-in-out;
    border: 2px solid #16b485;
    animation: uparrow 1.5s cubic-bezier(0.39, 0.58, 0.57, 1) infinite;
    z-index: 5;
  }
  .arrow:hover {
    background: #fff;
    border: 2px solid #16b485;
    border-radius: 15px;
    animation: none;


  }
  .arrow svg {
    fill: #fff !important;
  }
  .arrow:hover svg path {
    fill: #16b485 !important;
  }
  
@keyframes uparrow {
    0% {
      inset: auto 1.5rem 1.5rem auto;
    }
    20% {
      inset: auto 1.5rem 2.3rem auto;
    }
    40% {
      inset: auto 1.5rem 1.5rem auto;
    }
    60% {
      inset: auto 1.5rem 1.9rem auto;
    }
    80%{
      inset: auto 1.5rem 1.5rem auto;
    }
    100% {
      inset: auto 1.5rem 1.7rem auto;
    }
  }
  .submenu a:hover,.submenu i:hover,.submenu span:hover{
    color: #198754 !important;
  }
  .submenu li a span:hover {
    color:white !important;
  }
  .submenu li a:hover {
    color: white !important;
    background: #198754 !important;;
  }
  .count h3 
  { 
    color:white;
  }
  table {
    color: snow !important;
    outline: none;
    border: none;
    width: 100%;
    margin-top: 50px;
    text-align: center;
  
  }
  
  table tr th {
    background:#089b56 !important;
    text-transform: uppercase;
    color: #fff !important;
  }
  table tr {
    transition: all 0.3s ease-in-out;
  }
  table tr:hover {
    color: white !important;
    background:#089b56 !important;
  }
  table td:hover .fa-solid.fa-pen-to-square,
  table td:hover .fa-solid.fa-trash 
  {
    color: white !important;
  }
  #table-wrapper {
    overflow: scroll;
  
  }
  .form-check-input:checked {
  background-color:  #16b485!important;
 }
  form :is(input,input:focus) {
    border: none !important;
    border-bottom: 2px solid #16b485 !important;
    outline:none;
    box-shadow:none !important;
  }
  
  form button {
    border:none !important;
    border-bottom: 2px solid #16b485 !important;
  }



  button.navbar.navbar-toggler.btn.btn-block,button.navbar.navbar-toggler.btn.btn-block:focus {
    box-shadow: none !important;
    background: #16b485;
    outline: 0px !important;
    border: none !important;
  }


  .sidebar-menu a{
    color:white !important;
  }
  .sidebar-menu a:hover {
 background: #16b485 !important;
  }