@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

#home {
  font-family: 'Roboto', sans-serif;
}

html {
  overflow-x: hidden;
}
* {
  padding: 0;
  margin: 0;
}
:root {
  --color:#16b485;
  --color-2:#5465BF;
}

/* hero font page design */


.home-hero {
  background-repeat: no-repeat !important;
  height: 100vh;
  width: 100% !important;
  background-position: center !important;
  background-size: cover !important;
  background-attachment: scroll !important;
  color: white;
}

.home-hero h1 {

  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid white;
  animation: type 5s ease-in-out infinite alternate;
}

@keyframes type {
  0% {
width: 0ch;
  }
  100% {
width: 24ch;
  }
}



/* hero font page design */


















.container.col-xxl-8.px-4.py-5.bg-dark.text-white a,
nav a {
  color: white !important;
}
.navbar.navbar-expand-lg.bg-dark {
  top: 0 !important;
  position: sticky !important;
  position: -webkit-sticky !important;
  z-index: 50 !important;
  border-radius: 0px 0px 5px 5px;
}

#hanging-icons,#icon-grid,.container.px-4.py-5 {
  background-color: ghostwhite;

}


/* ===================================navbar hover style================================ */
nav li {
  position: relative;
  border-radius: 5px;
  transition: all 0.6s ease-in-out;
  overflow: hidden;
  z-index: 3;
  margin:0px 10px;
  text-align: center;
  transform: scale(0.8);
}
nav li::before {
  position: absolute;
  content: "";
  background: #157347;
  inset: 0 0;
  transition: all 0.5s ease-in-out;
  transform: translateY(200px);
  padding: 100%;
  z-index: -1; 
}
nav li:hover {
  transform: scale(1);
}
nav li:hover::before {
  transform: translateX(0px);
}

.nav.flex-column .nav-item.mb-2 a:hover {
  color: #089b56 !important;
}
/* ===============================navbar hover style========================== */

/* ============================buttton hover style=============================== */
 button.btn.btn-success{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative !important;
  transition: all 0.6s ease-in-out !important;
  overflow: hidden !important;
  z-index: 3;
  border: none;
}
button.btn.btn-success::before {
  position: absolute;
  content: "";
  background: #16b485;
  inset: 0 0;
  transition: all 0.6s ease-in-out;
  transform: translateY(400px);
  z-index: -1; 
  padding: 100%;
}
button.btn.btn-success:hover::before {
  transform: translateX(0px);
}
.btn{
  /* display: flex;
  align-items: center;
  justify-content: center; */
  position: relative !important;
  transition: all 0.6s ease-in-out !important;
  overflow: hidden !important;
  z-index: 3;
  border: none !important;
}
.btn::before {
  position: absolute;
  content: "";
  background: #16b485;
  inset: 0 0;
  transition: all 0.6s ease-in-out;
  transform: translateY(700px);
  z-index: -1; 
  padding: 100%;
}
.btn:hover::before {
  transform: translateX(0px);
}
/* =================================button hover style=========================== */

li a.link-light:hover {
  color: #157347 !important;
}

.active {
  background:#157347;
}
#gellery-front {
  border-radius: 0px 0px 15px 15px;
}

.feature.col {
  padding: 5px;
}

.feature.col,.km {
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}
.feature.col:hover,.km:hover {
  background:#16b485;
}
.col img {
  border-radius: 50%;
}

.card.card-cover.h-100.overflow-hidden.text-bg-dark.shadow-lg {
  border-radius: 15px 15px 0px 0px;
}



/* ===========================card==================== */
.album.py-5.bg-light.rounded-4 .col .card.shadow-sm {
  transition: all 0.3s ease-in-out;
}

.album.py-5.bg-light.rounded-4 .col .card.shadow-sm:hover {
  /* transform: scale(0.9); */
  transform: scale(0.9);
  background: var(--color);
}
/* =====================================card======================= */
/* =========================================scroll button============================== */

.arrow {
  background: var(--color);
  padding:5px;
  height: 40px;
  width: 40px;
  inset: auto 1.5rem 1.5rem auto;
  position: fixed;
  transition: all 0.3s ease-in-out;
  border: 2px solid #16b485;
  animation: uparrow 1.5s cubic-bezier(0.39, 0.58, 0.57, 1) infinite;
  z-index: 5;
}
.arrow:hover {
  background: #fff;
  border: 2px solid #16b485;
  border-radius: 15px;
  animation: none;
}
.arrow svg.bi.bi-arrow-bar-up {
  fill: #fff;
}
.arrow:hover svg path {
  fill: #16b485 !important;
}

@keyframes uparrow {
  0% {
    inset: auto 1.5rem 1.5rem auto;
  }
  20% {
    inset: auto 1.5rem 2.3rem auto;
  }
  40% {
    inset: auto 1.5rem 1.5rem auto;
  }
  60% {
    inset: auto 1.5rem 1.9rem auto;
  }
  80%{
    inset: auto 1.5rem 1.5rem auto;
  }
  100% {
    inset: auto 1.5rem 1.7rem auto;
  }
}
/* =============================scroll button========================= */

/* ===========================form page===================== */
.suraiya {
  background:var(--color);
  color: whitesmoke;
}
button.btn[type=submit] {
  background:#157347;
  color: white;
}
/* =================================form page===================== */

/* ===================================table page===================== */
table {
  outline: none;
  border: none;
  width: 100%;
  margin-top: 50px;
  text-align: center;

}

table tr th {
  background: var(--color) !important;
  text-transform: uppercase;
}
table tr {
  transition: all 0.3s ease-in-out;
}
table tr:hover {
  background:#089b56 !important;
}
table td:hover .fa-solid.fa-pen-to-square,
table td:hover .fa-solid.fa-trash 
{
  color: white !important;
}
#table-wrapper {
  overflow: scroll;

}

/* ======================================table page===================== */


/* ====================================swiper js plugin css=============================== */


.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  /* text-align: center; */
  font-size: 18px;
  background: transparent;
  height: calc((100% - 30px) / 2) !important;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}


/* pagination bar color */

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: green !important;
}



/* pagination bar color */

/* ====================================swiper js plugin css=============================== */





/* scrolling bar customized */

::-webkit-scrollbar {
  background: transparent;
  width: 0.8rem;
}
::-webkit-scrollbar-thumb {
  background: var(--color);
  border-radius: 1rem;
}





/* scrolling bar customized */


/* blog post style is here */


article.blog-post img{
  height:200px !important;
  width: 250px !important;
/* aspect-ratio: 1/1 !important; */
}




/* blog post style is here */

